# ===== APLICAÇÃO =====
NODE_ENV=development
PORT=3000

# ===== BANCO DE DADOS =====
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=1234
DB_NAME=sistema
DB_SSL=false

# ===== SEGURANÇA =====
JWT_SECRET=supersegredo
JWT_EXPIRES_IN=8h

# ===== LOGS (opcional) =====
LOG_LEVEL=info
